.App {
  text-align: center;
}

ol {
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0 5%;
  display: flex;
}

li {
  flex: 1 0 12%;
  border: 0.5px solid black;
  margin: 1%;
  border-radius: 7px;
  justify-content: center;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.dates-list {
  li:first-of-type {
    border: 1px dashed blue;
    background: aliceblue;
  }
  li.selected {
    background: rgba(138, 43, 226, 0.4);
    border: 1px solid black;
  }
}

.times-list {
  margin-bottom: 150px;

  li {
    flex: 1 0 9%;
  }

  .past-time {
    opacity: 0.4;
    cursor: default;
  }

  .next-time {
    border: 1px dashed blue;
    background: aliceblue;
  }
  .selected {
    background: rgba(138, 43, 226, 0.4);
    border: 1px solid black;
  }
}



.confirmation-container {
  position: fixed;
  bottom: 0;
  padding-bottom: 10px;
  width: 100%;
  background: aliceblue; 
  opacity: 0.9;
}